{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %} Foydalanuvchilarni ro'yxatdan o'tkazish {% endblocktrans %}{% endblock %}

{% block content %}
    <h3>{% blocktrans %} Ro'yxatdan o'tish {% endblocktrans %}</h3>
    <p>{% blocktrans %} Ro'yxatdan o'tish uchun quyidagi formani to'ldiring. {% endblocktrans %}</p>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit">{% blocktrans %} Ro'yxatdan o'tish {% endblocktrans %}</button>
    </form>
{% endblock content %}