{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %} Logout sahifasi {% endblocktrans %}{% endblock %}
{% block content %}
    <div class="logout-page">
        <h3>Log Out</h3>
        <p>{% blocktrans %} Siz vebsaytdan chiqdingiz {% endblocktrans %}</p>
        <button type="button" class="btn btn-primary">
            <a href="{% url 'login' %}" style="color: white; text-decoration: none;">{% blocktrans %} Saytga kirish {% endblocktrans %}</a>
        </button>
    </div>
{% endblock content %}
