{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %} Parolni o'zgartirish {% endblocktrans %}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      {% include 'pages/profile_sidebar.html' %}
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <h3>{% blocktrans %} Parolni o'zgartirish {% endblocktrans %}</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">{% blocktrans %} O'zgartirish {% endblocktrans %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
