{% extends "news/base.html" %}
{% load static %}

{% block title %} Parolni tiklash {% endblock %}

{% block content %}
    {% if validlink %}
        <h3>Parolni tiklash</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" style="background-color: #2a8bea;">Parolni almashtirish</button>
        </form>
    {% else %}
        <h3 class="card-title text-center">Parolni tiklash amalga oshmadi!</h3>
        <p class="card-text text-center">
            Parolni tiklash havolasi allaqachon ishlatilgan yoki yaroqsiz. 
            Parolni tiklash uchun qayta <a href="{% url 'password_reset' %}" style="color: #2a8bea">urinib ko'ring</a>.
        </p>
    {% endif %}
    <style>
        .btn-primary {
            border-radius: 5px;
            color: white;
        }
        
        .btn-primary:hover {
            background-color: #2575fc;
        }
    </style>
{% endblock content %}
