{% extends "news/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %} Parolni tiklash {% endblocktrans %}{% endblock %}

{% block content %}
    {% if validlink %}
        <h3>{% blocktrans %} Parolni tiklash {% endblocktrans %}</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" style="background-color: #2a8bea;">
                {% blocktrans %} Parolni almashtirish {% endblocktrans %}
            </button>
        </form>
    {% else %}
        <h3 class="card-title text-center">{% blocktrans %} Parolni tiklash amalga oshmadi! {% endblocktrans %}</h3>
        <p class="card-text text-center">
            {% blocktrans %} Parolni tiklash havolasi allaqachon ishlatilgan yoki yaroqsiz. {% endblocktrans %}
            {% blocktrans %} Parolni tiklash uchun qayta urinib ko'ring {% endblocktrans %}
            <a href="{% url 'password_reset' %}" style="color: #2a8bea"><i class="fa fa-external-link"></i></a>
        </p>
    {% endif %}
    <style>
        .btn-primary {
            border-radius: 5px;
            color: white;
        }
        
        .btn-primary:hover {
            background-color: #2575fc;
        }
    </style>
{% endblock content %}
