{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %} Parolni tiklash {% endblocktrans %}{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-light">
                        <h3>{% blocktrans %} Parolni tiklash {% endblocktrans %}</h3>
                    </div>
                    <div class="card-body">
                        <p>{% blocktrans %} Parolingizni tiklash uchun emailingizni kiriting. {% endblocktrans %}</p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">{% blocktrans %} Parolni tiklash {% endblocktrans %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .card {
            border-radius: 10px;
            border: none;
        }
        
        .card-header {
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
        }
        
        .card-body {
            padding: 2rem;
        }
        
        .btn-primary {
            background-color: #68acf5;
            border-color: #007bff;
            border-radius: 5px;
        }
        
        .btn-primary:hover {
            background-color: #318ff4;
            border-color: #0056b3;
        }
    </style>
{% endblock content %}
