{% extends 'news/base.html' %}
{% load static %}

{% block title %} Parolni o'zgartirish {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      {% include 'pages/profile_sidebar.html' %}
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <h3>Parolni o'zgartirish</h3>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">O'zgartirish</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
