{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %} Yangilikni tahrirlash {% endblocktrans %}
{% endblock %}
{% block content %}

    <h2 class="text-center">{% blocktrans %} Joriy yangilikni tahrirlash {% endblocktrans %}</h2>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info ml-2">{% blocktrans %} Saqlash {% endblocktrans %}</button>
    </form>
    
{% endblock content %}