{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %} Yangilik yaratish {% endblocktrans %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% include 'pages/profile_sidebar.html' %}
        </div>
        <div class="col-md-9">
            <h3>{% blocktrans %} Yangilik yaratish {% endblocktrans %}</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">{% blocktrans %} Saqlash {% endblocktrans %}</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function slugify(text) {
        return text.toString().toLowerCase()
            .replace(/\s+/g, '-')           // Replace spaces with -
            .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
            .replace(/\-\-+/g, '-')         // Replace multiple - with single -
            .replace(/^-+/, '')             // Trim - from start of text
            .replace(/-+$/, '');            // Trim - from end of text
    }

    $(document).ready(function() {
        $('#id_title').on('input', function() {
            const title = $(this).val();
            const slug = slugify(title);
            $('#id_slug').val(slug);
        });
    });
</script>
{% endblock content %}
