{% extends 'news/base.html' %}
{% load static %}
{% load hitcount_tags %}
{% load i18n %}

{% block title %} {{ news.title }} {% endblock title %}
{% block content %}
    
    <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="{% url 'home_page' %}">{% blocktrans %} Bosh sahifa {% endblocktrans %}</a></li>
              <li style="color: #f8f7f7">{{ news.category }}</li>
            </ol>
            <h1>{{ news.title }}</h1>
            <div class="post_commentbox">
                <a href="#"><i class="fa fa-user"></i>{{ news.author }} </a>
                <span><i class="fa fa-calendar"></i> {{ news.published_time|date:"Y-m-d H:i" }}</span>
                <span> <i class="fa fa-eye"></i>{% get_hit_count for news %} </span>
                <span> <i class="fa fa-comments"></i> {{ comment_count }} </span>
            </div>
            <div class="single_page_content"> <img class="img-center" src="{{ news.image.url }}" alt="">
                <p>{{ news.body }}</p><br>
                {% if user.is_authenticated and user.is_superuser %}
                    <div style="text-align: center; margin-top: 20px;">
                      <a class="btn btn-primary btn-sm" href="{% url 'news_update' news.slug %}">
                          <i class="fa fa-pencil"></i> {% blocktrans %} Tahrirlash {% endblocktrans %}
                      </a>
                      <a class="btn btn-danger btn-sm" href="{% url 'news_delete' news.slug %}">
                          <i class="fa fa-trash"></i> {% blocktrans %} O'chirish {% endblocktrans %}
                      </a>
                    </div>
                {% endif %}
            </div>
            <div>
                <h3> <i class="fa fa-comments"></i>{% blocktrans %} Izohlar {% endblocktrans %}</h3>
                {% for comment in comments %}
                    <div class="comment">
                        <p>
                            <strong>{{ comment.user }}</strong>
                            <span class="comment-time"><i class="fa fa-clock-o"></i> {{ comment.created_time }}</span>
                        </p>
                        <p>{{ comment.body }}</p>
                    </div>
                {% endfor %}
                {% if user.is_authenticated %}
                  <button id="showCommentFormBtn" class="btn btn-secondary" onclick="toggleCommentForm()">{% blocktrans %} Izoh qoldirish {% endblocktrans %}</button>
                  <form id="commentForm" method="post" class="comment-form" style="display: none;">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="btn btn-primary">{% blocktrans %} Yuborish {% endblocktrans %}</button>
                  </form>
                {% else %}
                  <button id="showCommentFormBtn" class="btn btn-secondary" onclick="window.location.href='{% url 'login' %}'">{% blocktrans %} Izoh qoldirish {% endblocktrans %}</button>
                {% endif %}
            </div>
            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="related_post">
              <h2>{% blocktrans %} O'xshash yangiliklar {% endblocktrans %}<i class="fa fa-thumbs-o-up"></i></h2>
              <ul class="spost_nav wow fadeInDown animated">
                  {% for yangilik in latest_news %}
                    {% if yangilik.category == news.category and yangilik.id != news.id %}
                      <li>
                          <div class="media"> <a class="media-left" href="{{ yangilik.get_absolute_url }}"> <img src="{{ yangilik.image.url }}" alt=""> </a>
                            <div class="media-body">
                                <a class="catg_title" href="{{ yangilik.get_absolute_url }}"> {{ yangilik.title }}</a>
                                <p> <i class="fa fa-calendar"></i> {{ yangilik.published_time|date:"Y-m-d H:i" }} | <i class="fa fa-eye"></i>{% get_hit_count for yangilik %} </p>
                            </div>
                          </div>
                      </li>
                    {% endif %}
                  {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>{% blocktrans %} Ommabop {% endblocktrans %}</span></h2>
            <ul class="spost_nav">
              {% for news in latest_news %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{  news.get_absolute_url }}" class="media-left"> <img alt="" src="{{ news.image.url }}"> </a>
                  <div class="media-body">
                      <a href="{{  news.get_absolute_url }}" class="catg_title">{{ news.title }}</a>
                      <p> <i class="fa fa-calendar"></i> {{ news.published_time|date:"Y-m-d H:i" }} | <i class="fa fa-eye"></i>{% get_hit_count for news %} </p>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">{% blocktrans %} Kategoriya {% endblocktrans %}</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">{% blocktrans %} Video {% endblocktrans %}</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">{% blocktrans %} Izohlar {% endblocktrans %}</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  {% for category in categories %}
                  <li class="cat-item"><a href="#">{{ category.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> <iframe width="100%" height="250" src="{% static 'images/-1001999712000-139.mp4' %}" allowfullscreen></iframe> </a>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                      <div class="media-body"> <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>{% blocktrans %} Sponsor {% endblocktrans %}</span></h2>
            <a class="sideAdd" href="#"><img src="{% static 'images/add_img.jpg' %}" alt=""></a>
          </div>
        </aside>
      </div>
    </div>
  </section>

  <script>
      function toggleCommentForm() {
          let form = document.getElementById("commentForm");
          if (form.style.display === "none" || form.style.display === "") {
          form.style.display = "block";
          } else {
              form.style.display = "none";
          }
      }
  </script>

{% endblock content %}
