{% extends 'news/base.html' %}
{% load static %}

{% block title %}
Sport Yangiliklari
{% endblock %}

{% block content %}
    <div style="max-width: 1200px; margin: 0 auto; padding: 20px">
        {% for news in sport_news %}
          <a href="{{ news.get_absolute_url }}">
            <div style="display: flex; align-items: center;; margin-bottom: 1px; border: 1px solid #ddd; padding: 10px; padding: 10px; overflow: hidden">
                <img style="width: 25%; height: auto; margin-right: 20px; border-radius: 1px" src="{{ news.image.url }}" alt="">
                <div style="flex: 1; margin: 0">
                    <h3>{{ news.title }}</h3>
                </div>
            </div>
          </a>  
        {% endfor %}
    </div>
{% endblock content %}